h6 {
  font-weight: bold;
  color: #fff;
}

.btn{
  padding: 0.8em!important;
  width: 9.5em;
  height: 8.5em;
}

.patentebtn {
  background-color: #D75E24;
  border-radius: 50%;
}

.tagbtn {
  background-color: #E68E0C;
  border-radius: 50%;
}

.subsidiosbtn {
  background-color: #769E33;
  border-radius: 50%;
}

.esterilizabtn {
  background-color: #009A88;
  border-radius: 50%;
}

.masc {
  font-size: 10px;
}
