/*NAV*/
#nav {
  background-color: #5fb9d3;
}

#rencaLogo {
  width: 30%;
  margin-left: 10%;
}

/*SECTION ICONS BUTTONS*/
main {
  background-image: url(../img/cerro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#firstSection {
  background: rgba(254,254,254,0.19);
  background: -moz-linear-gradient(-45deg, rgba(254,254,254,0.19) 95%, rgba(254,254,254,0.68) 98%, rgba(254,254,254,0.84) 99%, rgba(219,219,219,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(95%, rgba(254,254,254,0.19)), color-stop(98%, rgba(254,254,254,0.68)), color-stop(99%, rgba(254,254,254,0.84)), color-stop(100%, rgba(219,219,219,1)));
  background: -webkit-linear-gradient(-45deg, rgba(254,254,254,0.19) 95%, rgba(254,254,254,0.68) 98%, rgba(254,254,254,0.84) 99%, rgba(219,219,219,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(254,254,254,0.19) 95%, rgba(254,254,254,0.68) 98%, rgba(254,254,254,0.84) 99%, rgba(219,219,219,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(254,254,254,0.19) 95%, rgba(254,254,254,0.68) 98%, rgba(254,254,254,0.84) 99%, rgba(219,219,219,1) 100%);
  background: linear-gradient(135deg, rgba(254,254,254,0.19) 95%, rgba(254,254,254,0.68) 98%, rgba(254,254,254,0.84) 99%, rgba(219,219,219,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dbdbdb', GradientType=1 );background: rgba(254,254,254,1);
  background: -moz-linear-gradient(-45deg, rgba(254,254,254,1) 0%, rgba(254,254,254,0.22) 3%, rgba(254,254,254,0.22) 99%, rgba(219,219,219,0.22) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(3%, rgba(254,254,254,0.22)), color-stop(99%, rgba(254,254,254,0.22)), color-stop(100%, rgba(219,219,219,0.22)));
  background: -webkit-linear-gradient(-45deg, rgba(254,254,254,1) 0%, rgba(254,254,254,0.22) 3%, rgba(254,254,254,0.22) 99%, rgba(219,219,219,0.22) 100%);
  background: -o-linear-gradient(-45deg, rgba(254,254,254,1) 0%, rgba(254,254,254,0.22) 3%, rgba(254,254,254,0.22) 99%, rgba(219,219,219,0.22) 100%);
  background: -ms-linear-gradient(-45deg, rgba(254,254,254,1) 0%, rgba(254,254,254,0.22) 3%, rgba(254,254,254,0.22) 99%, rgba(219,219,219,0.22) 100%);
  background: linear-gradient(135deg, rgba(254,254,254,1) 0%, rgba(254,254,254,0.22) 3%, rgba(254,254,254,0.22) 99%, rgba(219,219,219,0.22) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dbdbdb', GradientType=1 );
  height: 100vh;
}

#file1 {
  margin-left: 5%;
}

.fa-file-alt, .fa-clipboard-list, .fa-heartbeat, .fa-handshake, .fa-paste, .fa-plus {
  font-size: 50px;
  text-align: center;
}

.fa-heartbeat, .fa-handshake {
  margin-left: -15%;
}

#buttonIcons button {
  width: 70%;
  margin-top: 20%;
  opacity: 1;
}

#buttonIcons h4 {
  font-size: 20px;
  text-align: center;
  margin-left: -10%;
  font-family: 'Arsenal', sans-serif;
  color: #000;
  font-weight: 600;
}

footer {
  margin-top: -2%;

}


