/*NAV*/
#nav {
  background-color: #009A88 !important;
}

#rencaLogo {
  width: 30%;
  margin-left: 10%;
}

/*SECTION ICONS BUTTONS*/

#file1 {
  margin-left: 5%;
}

#file3 {
  margin-top: -5%;
}

.fa-file-alt, .fa-clipboard-list, .fa-heartbeat, .fa-handshake, .fa-paste, .fa-plus {
  font-size: 50px;
  text-align: center;
}

.fa-heartbeat, .fa-handshake {
  margin-left: -15%;
}

.buttonIcons button {
  margin-top: 20%;
}


footer {
  margin-top: -2%;
  background-color: #FFF;
  font-family: 'Arsenal', sans-serif;
}

footer p, footer h5 {
  color: #009A88
}

#redes a {
  margin-left: -2%;
  margin-top: -2.5%;
}

.btn-primary{
  padding: 0.8em!important;
  width: 9em;
  height: 8.5em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

.fa-facebook-square, .fa-twitter-square, .fa-instagram, .fa-flickr, .fa-youtube{
  font-size: 30px;
  margin-top: 20%;
}

#copyright {
  background-color: #009A88;
}

input[type=number] { -moz-appearance:textfield; }


