
/* Required for full background image */

html,
body,
.view {
  height: 100vh;
}
#solicitudesContainer{
  height: 120vh;
}

@media (max-width: 740px) {
}

.top-nav-collapse {
  background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: linear-gradient(-45deg, rgba(215,94,36,1) 0%, rgba(230,142,12,1) 19%, rgba(118,158,51,1) 36%, rgba(0,154,136,1) 58%, rgba(95,185,211,1) 77%, rgba(1,146,208,1) 91%, rgba(1,146,208,1) 100%)!important;
    background: -moz-linear-gradient(-45deg, rgba(215,94,36,1) 0%, rgba(230,142,12,1) 19%, rgba(118,158,51,1) 36%, rgba(0,154,136,1) 58%, rgba(95,185,211,1) 77%, rgba(1,146,208,1) 91%, rgba(1,146,208,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(215,94,36,1)), color-stop(19%, rgba(230,142,12,1)), color-stop(36%, rgba(118,158,51,1)), color-stop(58%, rgba(0,154,136,1)), color-stop(77%, rgba(95,185,211,1)), color-stop(91%, rgba(1,146,208,1)), color-stop(100%, rgba(1,146,208,1)));
    background: -webkit-linear-gradient(-45deg, rgba(215,94,36,1) 0%, rgba(230,142,12,1) 19%, rgba(118,158,51,1) 36%, rgba(0,154,136,1) 58%, rgba(95,185,211,1) 77%, rgba(1,146,208,1) 91%, rgba(1,146,208,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(215,94,36,1) 0%, rgba(230,142,12,1) 19%, rgba(118,158,51,1) 36%, rgba(0,154,136,1) 58%, rgba(95,185,211,1) 77%, rgba(1,146,208,1) 91%, rgba(1,146,208,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(215,94,36,1) 0%, rgba(230,142,12,1) 19%, rgba(118,158,51,1) 36%, rgba(0,154,136,1) 58%, rgba(95,185,211,1) 77%, rgba(1,146,208,1) 91%, rgba(1,146,208,1) 100%);
    background: linear-gradient(135deg, rgba(215,94,36,1) 0%, rgba(230,142,12,1) 19%, rgba(118,158,51,1) 36%, rgba(0,154,136,1) 58%, rgba(95,185,211,1) 77%, rgba(1,146,208,1) 91%, rgba(1,146,208,1) 100%);
  }
}

.rgba-gradient {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
}

.card {
  background-color: rgba(126, 123, 215, 0.2);
}

.md-form label {
  color: #ffffff;
}

h6 {
  line-height: 1.7;
}
        





input:focus,input:active {
  outline: none;
  outline-offset: 0;
}
.dropdown {
  position:relative;
  width: 200px;
  
}
.dropdown input{
  background-color: #009688;
  border: 1px solid #009688;
  text-transform: capitalize;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    width: inherit;
    box-sizing: border-box;
    webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.option{
  background-color: #009688;
}



.dropdown .selected_list {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dropdown .selected_list .item {
  padding: 3px;
  border: 1px solid #3F51B5;
  background-color: #3F51B5;
  color: white;
  margin:0 5px 5px 0;
  animation: new-item-animation .5s cubic-bezier(.65,-0.02,.72,.29);

}
.dropdown .selected_list .item.removed_item {
  animation: removed-item-animation .8s cubic-bezier(.65,-0.02,.72,.29);
}

.dropdown .selected_list .item:hover {
  
}
.dropdown .selected_list .item:last-child {
  margin-right: 0;
}
.dropdown .selected_list .item .text {
  padding: 5px;
  text-transform: capitalize;
}
.dropdown .selected_list .item .remove_item {
  cursor: pointer;
  padding: 0 5px;
  border-left: 1px solid white;
}
.dropdown .options_list {
  max-height: 100px;
  display: none;
  width: 100%;
  border: 1px solid #009688;
  border-top-width: 0;
    box-sizing: border-box;
  overflow-y:scroll;
  position:absolute;
  top: initial;
  left: 0;
  background: #fff;
    -webkit-box-shadow: 1px 1px 2px #009688;
    -moz-box-shadow: 1px 1px 2px #009688;
    box-shadow: 1px 1px 2px #009688;

}
.dropdown .options_list .option {
  padding: 5px 2px 5px 10px;
  cursor: pointer;
  text-transform: capitalize;
  //border-bottom: 1px solid #dedede;
}
.dropdown .options_list .option:after {
  clear:both;
}
.dropdown .options_list .option:last-child {
  border-bottom: none;
}
.dropdown .options_list .option:hover {
  background-color: #009688;
  color:white;
}
.clone_elements {
  display: none;
}
@keyframes new-item-animation {
    0% {
        opacity: 0;
          transform: translateY(200px);
  }
    100% {
        opacity: 1;
        transform : translateY(0);
    }
}

@keyframes removed-item-animation {
   0% {
        opacity: 1;
        transform: translateY(0);
    }
 
    30% {
        opacity: .8;
        transform: translateY(200px);
    }
 
    80% {
        opacity: .5;
        transform: translateY(-200px);
    }
 
    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}

/* placdholder color */
.dropdown input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.dropdown input::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.dropdown input:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.dropdown input:-moz-placeholder { /* Firefox 18- */
  color: white;
}
